*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 30%;
    height: 430px;
    margin: auto;
    margin-top: 3rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.imgCircle{
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.headerCard{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.col{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.description{
    padding-top: 2rem;
}
.imgNormal{
    width: 100%;
    height: 180px;
    object-fit: cover;
    padding-top: 1rem;
}
.d-flex{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 1rem;
}
.btn{
    padding: 0.3rem 0.5rem;
}
span{
    font-weight: bolder;
}